<!DOCTYPE html>
<html>
<head>
<title>Title of the document</title>



	<script type="text/javascript" charset="utf-8">
		$(document).ready(function(){
			var board = new boardLib.Board();

		});
	</script>
</head>

<body>
	<div class="board">
    
    
    
	</div>
</body>

</html>