<!DOCTYPE html>
<html>
<head>
<title>Bejeweled</title>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function(){
			var board = new boardLib.Board();
      $(".tile").click(function(event) {
        board.handleClick(event);
        board.renderScore();
      });
		});
	</script>
</head>

<body>
  <div class="scoreboard">Score: <div class="score"></div>
  </div>
	<div class="board">
    
    
    
	</div>
</body>

</html>